@import url('https://fonts.googleapis.com/css?family=Barlow');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Barlow', sans-serif;
}
.navbar {
  height: 75px;
}
.welcome {
  background-image: url(./assets/header.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  /* height: -webkit-fill-available; */
  height: auto;
  min-height: 100vh;
  color: white;
}
.kotak-kegiatan {
  padding: 100px;
}
.kotak-pojok {
  position: absolute;
  top: 80%;
  left: 27%;
  transform: translate(-80%, -27%);
  background-color: #222736ff;
  width: 30%;
  padding: 20px;
  color: white;
}
.kotak-tengah {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kotak-daftar {
  background-image: url(./assets/daftar_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
}
.warna-orange {
  height: 15px;
  background-color: #ff802cff;
}
.jadwal {
  padding: 3rem;
  background-color: #2b132bff;
  color: white;
}
.schedule {
  background-image: url(./assets/rute.png);
  background-size: 48%;
  background-repeat: no-repeat;
  background-position-x: 20%;
}
.judul-kegiatan {
  background-color: #f2f2f2ff;
}
.tech-meet {
  background-color: #ff7f2aff;
}
.bulat {
  width: 120px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
}
legend {
  font-size: 1rem;
}
.kontak {
  background-color: #1f2d3cff;
  color: white;
}
.kontak-person > p {
  margin: 0;
}
.lingkaran {
  border-radius: 50%;
}
.footer {
  background-color: #16222eff;
  color: white;
}
